language: go
go_import_path: github.com/go-lpc/mim

go:
 - 1.15.x

os:
 - linux

arch:
 - amd64
 - arm64

cache:
 directories:
   - $HOME/.cache/go-build
   - $HOME/gopath/pkg/mod

git:
 depth: 10

matrix:
 fast_finish: true
 include:
   - go: 1.15.x
     env:
       - TAGS=""
   - go: master
     env:
       - TAGS=""
       - COVERAGE="-race"

sudo: required

before_install:
 - sudo apt-get install -qq pkg-config libftdi1-dev

script:
 - go get -d -t -v ./...
 - go install -v $TAGS ./...
 - go run ./ci/run-tests.go $TAGS $COVERAGE
